In [ ]:
# üé¨ Netflix Data Analysis using Python + SQL

import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

# Load dataset
df = pd.read_csv('netflix_titles.csv')
print(df.head())

# Create SQLite DB in memory and load data
conn = sqlite3.connect(":memory:")
df.to_sql("netflix", conn, index=False, if_exists="replace")

# üìä Total Movies vs TV Shows
query1 = "SELECT type, COUNT(*) AS total FROM netflix GROUP BY type"
print(pd.read_sql(query1, conn))

# üìÖ Year-wise content trend
query2 = "SELECT release_year, COUNT(*) AS total FROM netflix GROUP BY release_year ORDER BY release_year DESC"
yearly_content = pd.read_sql(query2, conn)
yearly_content.plot(x='release_year', y='total', kind='line', title='Year-wise Netflix Content')
plt.ylabel("Number of Titles")
plt.xlabel("Year")
plt.grid(True)
plt.show()

# üåç Top 5 Countries with Most Content
query3 = """
SELECT country, COUNT(*) AS total
FROM netflix
WHERE country IS NOT NULL
GROUP BY country
ORDER BY total DESC
LIMIT 5
"""
print(pd.read_sql(query3, conn))

# üé¨ Top 5 Directors
query4 = """
SELECT director, COUNT(*) AS total
FROM netflix
WHERE director IS NOT NULL
GROUP BY director
ORDER BY total DESC
LIMIT 5
"""
print(pd.read_sql(query4, conn))

# üé≠ Most Common Genres
query5 = """
SELECT listed_in, COUNT(*) AS total
FROM netflix
GROUP BY listed_in
ORDER BY total DESC
LIMIT 10
"""
print(pd.read_sql(query5, conn))